<footer>
  <div class="inner footer">
    <div class="footer__el">
      <a href="" class="footer__logo">
        <img src="https://cdn.shopify.com/s/files/1/0628/3535/9978/files/white-logo.png?v=1645288924" alt="logo of Live Lean RX">
      </a>
    </div>
    <div class="footer__el">
      <p><span id="date"></span> &copy; All Rights Reserved</p>
    </div>
  </div>
</footer>