<header>
  <div class="inner nav dk">
    <div class="nav__el has-nav">
      <a href="{{shop.url}}" class="logo">
        <img src="https://cdn.shopify.com/s/files/1/0628/3535/9978/files/white-logo.png?v=1645288924" alt="Live Lean RX Logo">
      </a>
      <nav>
        <ul>
          <li><a href="" class="active">Home</a></li>
          <li><a href="">Our Products</a></li>
          <li><a href="">Their Products</a></li>
        </ul>
      </nav>
    </div>
    <div class="nav__el cart-parent">
      <ul>
        <li>
          <a href="" class="cart">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" viewBox="0 0 472.098 457.01">
              <g id="noun-tote-bag-1667944" transform="translate(-113.953 -51.494)">
                <path id="Path_3" data-name="Path 3" d="M446.42,156.73c0-30.992,1.344-55.168-23.5-80.828-27.086-27.84-54.414-24.258-89.07-24.258-44.586,0-80.258,37.586-80.258,82.254,0,15.078-3.418,33.84,11.008,33.84S275.6,148.976,275.6,133.9c0-32.66,25.742-60.336,58.242-60.336,29.324,0,52.5-3.906,73.34,17.684,19.578,20.066,17.258,40.23,17.258,65.484-.02,14.43,21.977,14.43,21.977,0Z" fill="#fff"/>
                <path id="Path_4" data-name="Path 4" d="M431,210.74c-36.57,0-36.57,55.676,0,55.676,36.586-.02,36.586-55.676,0-55.676Z" fill="#fff"/>
                <path id="Path_5" data-name="Path 5" d="M269.01,210.42c-36.914,0-36.914,56.246,0,56.246s36.918-56.246,0-56.246Z" fill="#fff"/>
                <path id="Path_6" data-name="Path 6" d="M585.84,495.34,523.184,187.49a10.948,10.948,0,0,0-10.93-9.668H187.674a10.861,10.861,0,0,0-10.664,8.75l-62.676,307.85C112.42,502.258,118,508.5,124.916,508.5H575.1a10.992,10.992,0,0,0,10.742-13.164Zm-447.57-8.75,58.4-286.85h306.67l58.344,286.85Z" fill="#fff"/>
              </g>
            </svg>            
            <span>Cart ({{cart.item_count}})</span>
          </a>
        </li>
      </ul>
      <button class="menu">
        <span class="sr-only">Menu</span>
        <span class="menu__span"></span>
        <span class="menu__span"></span>
        <span class="menu__span"></span>
      </button>
    </div>
  </div>
  <div class="slide-nav">
    <div class="slide-nav__inner">
      <nav>
        <ul>
          <li><a href="" class="active">Home</a></li>
          <li><a href="">Our Products</a></li>
          <li><a href="">Their Products</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>