main .cart {
  color: black;
}
.cart__column {
  margin-bottom: 1em;
  img {
    width: 100%;
  }

  a {
    color: black;
  }

  h4 {
    padding-bottom: 0.8em;
  }
  
}

.checkout-more {
  padding-bottom: 4em;
}

.remove-item {
  font-size: 15px;
}

@media(min-width: $bp-md) {

  .cart__column {
    margin-bottom: 0em;
    text-align: center;

    &:first-of-type {
      width: 25%;
    }
  }
  
  .cart__el {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: 1px solid #eee;
    padding: 2em 0em;

    // &:last-of-type {
    //   border: none;
    // }

    &__item {
      width: 23%
    }
  }

  .total {
    text-align: right;
    padding: 1em 0em;
    // border-top: 1px solid $gray;
    // padding-top: 1em;

    p {
      margin: 0;


      &:last-of-type {
        padding: 0.4em;
      }
    }

    button {
      border : none;
      outline : none;
    }
  }

  .cart__image {
    display: flex;

    > div:first-of-type {
      width: 50%;
      margin-right: 5%;
    }

    > div:last-of-type {
      font-size: 14px ;
      text-align: left;
    }
  }
}