<section>
  <div class="inner">
    <div>
      <img src="{{product.featured_image | img_url: 'master'}}" alt="photo of our {{product.title}}" width="50%"/>
    </div>
    <div>
      <h1>{{product.title}}</h1>
      <form method="post" action="/cart/add">
        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
        <input min="1" type="number" id="quantity" name="quantity" value="1"/>
        <input type="submit" value="Add to cart" class="btn" />
      </form>
    </div>

  </div>
</section>