<section>
  <div class="inner">
    <div>
      <img src="{{product.featured_image | img_url: 'master'}}" alt="photo of our {{product.title}}" width="50%"/>
    </div>
    <div>
      <h1>{{product.title}}</h1>
    </div>

  </div>
</section>